@media only screen and (min-height: 340px){
    .header-area .main-menu .navbar,
    .header-area .main-menu .navbar .navbar-brand{
        padding: 2%;
        margin: 0%;
    }
}

@media only screen and (max-width: 340px){
    .site-main .services-area{
        padding: 2%;
        margin: 0%;
    }

  
}

